services:
  redis:
    image: redis:7-alpine
    container_name: recipe-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
      
    
    mem_limit: 6m          # max mem limit
    mem_reservation: 64k     # soft mem limit
    cpus: "0.001"             # at most cpus% of one CPU core

  app:
    build: .
    container_name: recipe-api
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

    mem_limit: 256m          # max mem limit
    mem_reservation: 128m     # soft mem limit
    cpus: "0.50"             # at most 25% of one CPU core

volumes:
  redis_data:
